@import "../config/colors";

body {
  background-color: map-get($theme-colors, "light"); /* Same background color as the navbar */
}

.header {
  background-color: map-get($theme-colors, "dark");
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: map-get($theme-colors, "light");
}

.interests-form-header {
  .interests-form-container {
    border: 1px solid map-get($theme-colors, "accent2");
    border-radius: 25px;
    padding: 1rem;
    background-color: map-get($theme-colors, "light");
  }
}

.btn-outline-primary {
  color: map-get($theme-colors, "primary");
  border-color: map-get($theme-colors, "primary");

  &:hover {
    background-color: map-get($theme-colors, "primary");
    color: map-get($theme-colors, "light");
  }
}

.accordion-button {
  color: map-get($theme-colors, "dark");
  background-color: map-get($theme-colors, "light");

  &:not(.collapsed) {
    color: map-get($theme-colors, "light");
    background-color: map-get($theme-colors, "primary");
  }
}

.accordion-item {
  border: 1px solid map-get($theme-colors, "accent2");
  border-radius: 5px;
}

.accordion-body {
  background-color: map-get($theme-colors, "light");
}

.main-search-bar {
  background-color: map-get($theme-colors, "light");
  border: 1px solid map-get($theme-colors, "accent2");
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container {
  height: 500px; /* Adjust the height as needed */
  border-radius: 25px;
  overflow: hidden;
}

.info-window-card {
  background-color: map-get($theme-colors, "light");
  border: 1px solid map-get($theme-colors, "accent2");
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 1rem;
  width: 250px; /* Adjust the width as needed */
}

.info-window-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-window-title {
  color: map-get($theme-colors, "dark");
  text-align: center;
  margin-bottom: 0.5rem;
}

.info-window-text {
  color: map-get($theme-colors, "dark");
  text-align: center;
  margin-bottom: 1rem;
}

.info-window-footer {
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "light");
  padding: 0.5rem;
  border-radius: 10px;
  outline: 1px solid map-get($theme-colors, "accent2");
}
