@import "../config/colors";

.profile-page-container {
  .profile-page-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    background-color: map-get($theme-colors, "secondary");
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1, h3 {
    color: map-get($theme-colors, "primary");
  }

  .badge {
    background-color: map-get($theme-colors, "dark");
    color: map-get($theme-colors, "light");
  }

  .badge.bg-new-interest {
    background-color: map-get($theme-colors, "light");
    color: map-get($theme-colors, "dark");
    cursor: pointer;
  }

  p {
    font-size: 1.2rem;
  }

  .btn-dark {
    margin: 0.5rem;
    opacity: 0.65; /* Makes it look disabled */
    pointer-events: none; /* Disabled button */
  }

  .profile-page-card {
    background-color: $white;
    border: 1px solid map-get($theme-colors, "accent2");
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: relative;

    .card-body {
      padding: 1rem;
      position: relative;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  .btn-primary {
    text-align: center;
    height: 40px;
  }

  .find-hobbyists-btn {
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "primary");
    color: #fff;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

  .find-hobbyists-btn:hover {
    background-color: darken(map-get($theme-colors, "primary"), 10%);
    border-color: darken(map-get($theme-colors, "primary"), 10%);
  }
}
