<div class="info-window-card">
  <div class="info-window-body">
    <div class="profile-placeholder d-flex align-items-center justify-content-center mb-3">
      Placeholder
    </div>
    <h5 class="info-window-title"><strong><%= user.username %></strong></h5>
    <div class="address-card mt-3">
      <h6 class="address-title"><strong>Address</strong></h6>
      <p class="info-window-text"><small><%= user.address %></small></p>
    </div>
     <%= link_to "Message", private_chatrooms_path(receiver_id: user.id),
          class: "btn btn-primary mt-3 w-100 text-white",
          data: { turbo_method: :post } %>
    <div class="info-window-footer mt-3">
      <div class="d-flex flex-wrap justify-content-center">
        <% user.interests.each do |interest| %>
          <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
