<% if chat_type == 'link'%>
  <%= link_to chat_message, private_chatrooms_path(receiver_id: user.id), class: "btn btn-primary me-2 flex-grow-1 d-flex align-items-center #{chat_flag}", data: { turbo_method: :post } %>
<% else %>
  <button class="btn btn-primary me-2 flex-grow-1 d-flex align-items-center <%= chat_flag %>"
    data-action="click->action-buttons#messageButtonToggle"
  ><%= chat_message %></button>
<% end %>
