<% users.each do |user| %>
  <div class="user-card mb-3">
    <div class="user-card-body d-flex p-3">
      <div class="profile-placeholder d-flex align-items-center justify-content-center">
        Placeholder
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 class="user-card-title"><strong><%= user.username %></strong></h5>
        <p class="user-card-text">Distance: 1km</p>
      </div>
      <button class="btn btn-primary ms-auto" >Message</button>
    </div>
    <div class="user-card-footer">
      <div class="d-flex flex-wrap">
        <% user.interests.each do |interest| %>
          <span class="badge rounded-pill bg-success m-1"><%= interest.interestable.name %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
