@import "../config/colors";

.footer {
  bottom: 0;
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "light");
  padding: 1rem 0;
  text-align: center;

  .footer-logo {
    max-width: 30px;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
  }
}
