@import "../config/colors";

.info-window-card {
  position: relative;
  background-color: map-get($theme-colors, "light");
  border: 1px solid map-get($theme-colors, "accent2");
  border-radius: 25px;
  padding: 1rem;
  max-width: 420px;
  max-height: 420px;
  margin: 0 auto;
}


.profile-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  background-color: map-get($theme-colors, "secondary");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.info-window-title {
  font-size: 1.25rem;
  color: map-get($theme-colors, "dark");
}

.info-window-text {
  font-size: 1rem;
  color: map-get($theme-colors, "dark");
  margin: 0;
}

.info-window-footer .badge {
  background-color: map-get($theme-colors, "success");
  color: map-get($theme-colors, "light");
  margin: 0.25rem;
}

.btn-primary {
  background-color: map-get($theme-colors, "primary");
  border-color: map-get($theme-colors, "primary");
  color: #fff;
  padding: 0.75rem 0.1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: darken(map-get($theme-colors, "primary"), 10%);
  border-color: darken(map-get($theme-colors, "primary"), 10%);
}
