.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  .mapboxgl-popup-close-button {
    top: 10px;
  }
}
