@import "../config/colors"; // Ensure you import your color variables

.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFFD;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 100px;
  }

  .navbar-center-logo {
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-center-logo img {
    height: 100%;
  }

  .navbar-right-content {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btn-primary {
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 15px;
    line-height: 2.5;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar.bg-success {
    background-color: map-get($theme-colors, "primary");
  }
}
