.navbar-lewagon {
  justify-content: space-between;
  background: #fffefa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-lewagon .navbar-center-logo {
  height: 30px;
}

.navbar-lewagon .navbar-center-logo img {
  height: 100%; /* image fills the container height */
}
